.iconDoc span { 
	display: none;
}
.iconDoc:hover span { 
	display: inline;
	position:absolute;
	margin-left:-235px;
	margin-top:-110px;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	z-index:100;
}

.iconDoc:hover #no_doc { 
	display: inline;
	position:absolute;
	margin-left:-67px;
	margin-top:0px;
	padding: 10px;
	background: #ffffff;
	color: #AD5453;
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	z-index:100;
}